.container-e {
  position: fixed;
  top: 0;
  padding-top: 15%;
  left: 0px;
  padding-left: 30%;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.6);
}

.card {
  border: solid 1px white;
}
